<div id="fountain-page">
	<h1 class="index-title">Fountains</h1>
	<ul class="fountains">
		<% @fountains.each do |fountain| %>
			<%= link_to(fountain) do %>
			<li class="fountain"%><span class="fountain-image"><%= image_tag fountain.pic_url %></span><span class="fountain-name"></span><%= fountain.name %><span class="department">~ <%= fountain.department %></span></li>
			<% end %>
		<% end %>
	</ul>

	<%= will_paginate @fountains %>

</div>