<div id="home-page">

	<ul class="videos">
		<% if @videos %>
			<% videos = @videos.shuffle %> 
			<% 4.times do |i| %>
				<% video = videos.delete_at(0) %>
				<li id="<%= i %>" class=<%= i.odd? ? "nudge-video-left" : "" %> ><iframe width="480" height="315" src="<%= video.construct_embed_url %>" frameborder="0" allowfullscreen></iframe></li>
			<% end %>
		<% end %>
	</ul>

	<ul class="memes">
		<% if @memes %>
			<% memes = @memes.shuffle %> 
			<% 6.times do |i| %>
				<% meme = memes.delete_at(0) %>
				<li id="<%= i %>" class="meme"%><%= meme.text %><span class="signature">~ <%= meme.fountains.first.name %></span></li>
			<% end %>
		<% end %>
	</ul>
	
</div>
