<!DOCTYPE html>
<html>
<head>
  <title>Thermic Whims | Meme Trading for the Intellectually Curious</title>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'base.css', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>

		<p id="schrodinger" class="meme">There are... organisms so small that they are strongly affected by... the thermic whims of the surrounding medium; they have no choice.  If they had some locomotion of their own they might nevertheless succeed in getting from one place to another-- but with some difficulty... like a small boat in a rough sea.
		<span class="signature">~ Erwin Schrodinger</span></p>

		<%= link_to image_tag("logo.jpg", id: "logo"), root_path %>
		
		<% if @memes.count > 0 %>
			<% @meme = @memes.shuffle.first %>
		<% end %>

		<p id="header-meme" class="meme"><%= @meme.text %><span class="signature">~ <%= @meme.fountains.first.name %></span></p>

		<ul class="nav">
		  <li><%= link_to "Home", root_path %></li>
		  <li><%= link_to "Memes", memes_path %></li>
		  <li><%= link_to "Fountains", fountains_path %></li>
		  <li><%= link_to "Videos", videos_path %></li>
		  <li><%= link_to "Works", works_path %></li>
		  <%= render 'devise/menu/registration_items' %>
		  <%= render 'devise/menu/login_items' %>
		</ul>

		   <p class="notice"><%= notice %></p>
		   <p class="alert"><%= alert %></p>

	</header>

	<article>

<%= yield %>

	</article>

	<footer>
		<p> <%= "\u00A9" + Time.now.year.to_s %> Harland Hauger</p>
	</footer>

</body>
</html>
