<!DOCTYPE html>
<html>
<head>
  <title>Thermic Whims | Meme Trading for the Intellectually Curious</title>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'base.css', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<article>

		<%= image_tag "logo.jpg", id: "logo" %>

		<ul class="nav">
		  <li><%= link_to "Home", root_path %></li>
		  <li><%= link_to "Memes", root_path %></li>
		  <li><%= link_to "Fountains", root_path %></li>
		  <li><%= link_to "Links", root_path %></li>
		  <li><%= link_to "Account", root_path %></li>
		  <%= render 'devise/menu/registration_items' %>
		  <%= render 'devise/menu/login_items' %>
		</ul>

		   <p class="notice"><%= notice %></p>
		   <p class="alert"><%= alert %></p>



<%= yield %>

   </article>

</body>
</html>
